



.slider-container {
  position: relative;
  width: 100%;
  
}

.slider-image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}


@media (max-width: 1024px) {
  .slider-container {
    height: 70vh; /* Adjust as needed for medium screens */
  }

  .slider-image {
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .slider-container {
    height: 70vh; /* Adjust as needed for small screens */
  }

  .slider-image {
    height: 70vh;
  }

  .slick-dots li button:before {
    color: white !important;
    font-size: 8px !important; /* Adjust this value to change the size of the dots */
    opacity: 0.5 !important; /* Adjust opacity for a bit of transparency */
  }
  
  .slick-dots li.slick-active button:before {
    color: #5E5E5E !important;
    opacity: 1 !important;
  }

}

@media (max-width: 480px) {
  .slider-container {
    height: 50vh; /* Adjust as needed for extra small screens */
  }

  .slider-image {
    height: 50vh;
  }
}

.slick-dots {
  z-index: 10;
  position: absolute !important;
  bottom: 20px !important; /* Adjust this value to move dots higher or lower */
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  justify-content: center !important;
}

.slick-dots li {
  margin: 0 5px !important;
}

.slick-dots li button:before {
  color: rgb(255, 255, 255) !important;
  font-size: 16px !important; /* Adjust this value to change the size of the dots */
  opacity: 1 !important; /* Adjust opacity for a bit of transparency */
}

.slick-dots li.slick-active button:before {
  color: #5E5E5E !important;
  opacity: 1 !important;
}

/* Remove focus outline on click */
.slider-container *:focus {
  outline: none !important;
}

.custom-object-bottom {
  object-position: bottom !important; /* Ensure it overrides any other styles */
}



@media (max-width: 768px) {
  .slick-dots li button:before {
    font-size: 12px !important; 
  }
}

@media (max-width: 480px) {
  .slick-dots li button:before {
    font-size: 10px !important; 
  }
}


.object-right-center {
  object-position: right center;
}

.object-left-center {
  object-position: left center;
}


  .shadow-custom {
    box-shadow:  0 4px 8px 4px rgba(0, 0, 0, 0.25);
  }

  .gradient-text {
    background: linear-gradient(75deg ,#A50000 0%, #0D213D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.brder{
  grid-column-start: 1;
  grid-column-end : -1;


}

.brd1{
  grid-row-start: 2;
}
.brd2{
  grid-row-start: 4;
}

.lstel{
  grid-column-start : 4;
}

.card{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover{

  box-shadow: 3px -3px 12px 0px #0C213C, -2px 2px 12px 0px #960E0E;
}

.image-comp {
  
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.image-comp::after {
  content: '';
  position: absolute;
  height: 105%;
  width: 105%;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  background-color: #e27d7d;
  
  z-index: -1;
  border-radius: inherit; /* Ensure the pseudo-element matches the parent’s border-radius */
}


@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.card:hover .rainbow{
	position: relative;
	z-index: 0;

	border-radius: inherit;
	overflow: hidden;

	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		/* background-color: #399953; */
		background-repeat: no-repeat;
		/* background-size: 50% 50%, 50% 50%; */
		/* background-position: 0 0, 100% 0, 100% 100%, 0 100%; */
		background-image: conic-gradient(from 0deg,transparent ,#3e74be , #9e0f0f,#3e74be,transparent);
		animation: rotate 4s linear infinite;
    /* filter: blur(5rem); */
    opacity: 0.9;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 2px;
		top: 2px;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		background: white;
		border-radius: 5px;

		
	}
}


.objts{
  background-image: url("../assets/background22.svg");
  background-size: cover;
  background-position: center;
  /* background-color: #16345F; */
}


