/* footer{
  width: 100%;
  height: 400px;
  background : url(./assets/footer-bgd.jpeg) 50% 50%, -webkit-linear-gradient(270deg, #4e7aaf 0%, #1d4c86 50%, #0C223D 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}  */